/* основной цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* белый #FFFFFF */
/* акцент #2196F3 rgba(0, 0, 0, 0.15) */

.page {
  color: #757575;
  background-color: #ffffff;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #2196f3;
}

ul {
  list-style: none;
}
